@font-face {
	font-family: "faune";
	src: url("Faune-DisplayBlack.otf");
}

body {
	background-color: #001c51;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "faune", serif;
}

h1 {
	color: #ecf2fc;
	font-family: "faune", serif;
	font-size: 70px;
}

h2 {
	color: #ecf2fc;
	font-family: "faune", serif;
	font-size: 50px;
}

.email {
	font-family: "faune", serif;
	margin-top: 4%;
}

.label {
	color: #ecf2fc;
	font-family: "faune", serif;
}

.button {
	text-align: center;
	font-family: "faune", serif;
	margin-top: 4%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
